spring.application.name=elei


# Database (Синхронизировано с переменными из docker-compose)
spring.datasource.url=jdbc:postgresql://${DB_HOST:localhost}:5432/${DB_NAME:elei}
spring.datasource.username=${DB_USER:postgres}
spring.datasource.password=${DB_PASS:root}
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true

#Flyway
spring.flyway.enabled=true
spring.flyway.baseline-on-migrate=true
spring.flyway.baseline-version=0

# Kafka (Системные настройки Spring)
spring.kafka.bootstrap-servers=${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
spring.kafka.consumer.group-id=elei-default-group
spring.kafka.consumer.auto-offset-reset=earliest
spring.kafka.consumer.key-deserializer=org.apache.kafka.common.serialization.StringDeserializer
spring.kafka.consumer.value-deserializer=org.apache.kafka.common.serialization.StringDeserializer
spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
spring.kafka.producer.value-serializer=org.apache.kafka.common.serialization.StringSerializer

# Kafka (Ваши кастомные топики для @Value)
kafka.topics.level-up=level-up-events
kafka.topics.user-activities=user-activities

# Telegram
telegram.bot.token=enter_bot_token
telegram.admin.chat-id=enter_tg_id
telegram.api.url=https://api.telegram.org

# OAuth2
spring.security.oauth2.client.registration.github.client-id=
spring.security.oauth2.client.registration.github.client-secret=
spring.security.oauth2.client.registration.github.scope=read:user,user:email

spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=

# Redis
spring.data.redis.host=${REDIS_HOST:localhost}
spring.data.redis.port=6379

# JWT
jwt.secret=your_generated_secret_key
jwt.expiration=86400000

# Actuator
management.endpoints.web.exposure.include=prometheus,health,info,metrics
management.endpoint.prometheus.enabled=true
management.prometheus.metrics.export.enabled=true


# Frontend URL (e.g. http://localhost:5173 for local Vite dev server)
app.frontend.url=
app.admin.username=
